In [1]:
import pandas as pd

In [2]:
# Pandas data stuctures are Series Data Frame

In [3]:
s= pd.Series([11,22,33,44,55,66,77])

In [5]:
s # serise object first colume (Default index ya label) and second colume are value

0    11
1    22
2    33
3    44
4    55
5    66
6    77
dtype: int64

In [7]:
# Accessing Data from seres
s[5] #single value access

66

In [9]:
s[[5,0]] # access mulitple vaues

5    66
0    11
dtype: int64

In [14]:
# updating value
s[[4,5]]=[444,555]

In [15]:
s

0     11
1     22
2     33
3     44
4    444
5    555
6     77
dtype: int64

In [16]:
del s[4]

In [17]:
s

0     11
1     22
2     33
3     44
5    555
6     77
dtype: int64

In [18]:
del [[5,6]]

SyntaxError: can't delete literal (<ipython-input-18-d51d25cced6c>, line 1)

In [21]:
s[7]=777 # insert the new value

In [20]:
s

0     11
1     22
2     33
3     44
5    555
6     77
7    777
dtype: int64

In [22]:
s[[8,9]] = [888, 999] # cant do muiltiple insert

ValueError: [8 9] not contained in the index

In [23]:
s

0     11
1     22
2     33
3     44
5    555
6     77
7    777
dtype: int64

In [25]:
s1 = pd.Series([100,200,300,400],index=["apples","Oranges", "Bananas", "Kiwis"])

In [26]:
s1

apples     100
Oranges    200
Bananas    300
Kiwis      400
dtype: int64

In [30]:
ourindex = ["Peach","apples","Oranges", "Bananas","Grapes"]

In [31]:
s2= pd.Series(s1,index=ourindex)

In [33]:
s2

Peach        NaN
apples     100.0
Oranges    200.0
Bananas    300.0
Grapes       NaN
dtype: float64

s1

In [34]:
s1

apples     100
Oranges    200
Bananas    300
Kiwis      400
dtype: int64

In [35]:
s2

Peach        NaN
apples     100.0
Oranges    200.0
Bananas    300.0
Grapes       NaN
dtype: float64

In [36]:
s2>100

Peach      False
apples     False
Oranges     True
Bananas     True
Grapes     False
dtype: bool

In [38]:
s2[s2>100] # this will return the true value

Oranges    200.0
Bananas    300.0
dtype: float64

In [39]:
"Oranges" in s2

True

# Creating a serise using a dictinary

In [45]:
Sdata = {'ohio': 35000,'Tezas':71000 ,"Orege": 16000}

In [46]:
Sdata

{'ohio': 35000, 'Tezas': 71000, 'Orege': 16000}

In [47]:
s3= pd.Series(Sdata)

In [48]:
s3

ohio     35000
Tezas    71000
Orege    16000
dtype: int64

## Date Frame Set

In [63]:
df = pd.DataFrame(["Red","Green","Blue"])

In [71]:
df

       0
0    Red
1  Green
2   Blue

In [72]:
df1 = pd.DataFrame(["Red","Green","Blue"],index=["v1","v2","v3"], columns=["C1"]) # index and colume given

In [73]:
df1

       C1
v1    Red
v2  Green
v3   Blue

## Creating a frame using a dictionay

In [116]:
dic= {"Ai for EO":[90,89,87,81,76,78,79,90,71,67],
      "Python1":[67,87,56,75,81,90,67,45,98,67],
      "Python2":[78,89,76,78,56,98,45,71,70,45]
     }
studentName = ["Ali","Ahmed","Nasir","Asad","Khan","Saad","Fahad","Usman","Talha","Fazal"]

In [117]:
data = pd.DataFrame(dic,index=studentName)

In [118]:
data

       Ai for EO  Python1  Python2
Ali           90       67       78
Ahmed         89       87       89
Nasir         87       56       76
Asad          81       75       78
Khan          76       81       56
Saad          78       90       98
Fahad         79       67       45
Usman         90       45       71
Talha         71       98       70
Fazal         67       67       45

In [119]:
data.Python1

Ali      67
Ahmed    87
Nasir    56
Asad     75
Khan     81
Saad     90
Fahad    67
Usman    45
Talha    98
Fazal    67
Name: Python1, dtype: int64

In [120]:
data["Python1"]["Nasir"]

56

In [123]:
data.loc["Nasir"]

Ai for EO    87
Python1      56
Python2      76
Name: Nasir, dtype: int64

In [125]:
data.loc["Nasir"]["Ai for EO":"Python1"] # Note in this slicing this will not neglatong Python1

Ai for EO    87
Python1      56
Name: Nasir, dtype: int64

In [128]:
data.iloc[2]["Ai for EO":"Python2"] # not neglatong Python2

Ai for EO    87
Python1      56
Python2      76
Name: Nasir, dtype: int64